
body{
    background-image:url("homework/cocinaFondo.jpg");
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
}

h1{
    color:#252850;
}

img{
    width: 400px;
    margin: 25px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color:#BA4A00 ;
    padding: 50px;
    border: 10px outset #641E16;
}

#spanId{
    font-size: 20px;
    margin: 50px;
    font-weight: bold;
}

